matplotlib                   3.5.2
matplotlib-inline            0.1.3
mdurl                        0.1.2
mediapipe                    0.9.1.0
mistune                      0.8.4
multidict                    6.0.4
multiprocess                 0.70.14
multivolumefile              0.2.3
murmurhash                   1.0.9
nbclassic                    0.3.4
nbclient                     0.5.9
nbconvert                    6.3.0
nbformat                     5.1.3
nes-py                       8.2.1
nest-asyncio                 1.5.4
networkx                     2.8.6
nltk                         3.7
notebook                     6.4.10
numpy                        1.22.4
oauthlib                     3.1.1
odfpy                        1.4.1
opencv-contrib-python        4.7.0.68
opencv-python                4.6.0.66
openpyxl                     3.0.9
opt-einsum                   3.3.0
oscrypto                     1.3.0
packaging                    21.3
pandas                       1.4.2
pandocfilters                1.5.0
parso                        0.8.3
pathy                        0.10.1
pickleshare                  0.7.5
Pillow                       9.4.0
pip                          23.1.2
portalocker                  2.7.0
preshed                      3.0.8
prometheus-client            0.12.0
promise                      2.3
prompt-toolkit               3.0.24
protobuf                     3.19.1
psutil                       5.9.5
py7zr                        0.20.6
pyarrow                      12.0.0
pyasn1                       0.4.8
pyasn1-modules               0.2.8
pybcj                        1.0.1
pybind11                     2.10.4
pycipher                     0.5.2
pyclipper                    1.3.0.post3
pycparser                    2.21
pycryptodomex                3.18.0
pydantic                     1.10.7
pydeck                       0.8.1b0
pydot                        1.4.2
pyglet                       1.5.21
Pygments                     2.15.1
pyHanko                      0.17.2
pyhanko-certvalidator        0.20.1
pymongo                      4.3.3
Pympler                      1.0.1
pyparsing                    3.0.6
pypdf                        3.7.0
pypng                        0.20220715.0
pyppmd                       1.0.0
pyrsistent                   0.18.0
pytesseract                  0.3.10
python-bidi                  0.4.2
python-dateutil              2.8.2
python-slugify               6.1.1
pytz                         2021.3
pytz-deprecation-shim        0.1.0.post0
PyWavelets                   1.4.1
pywin32                      302
pywinpty                     1.1.6
PyYAML                       6.0
pyzmq                        22.3.0
pyzstd                       0.15.9
qrcode                       7.4.2
regex                        2022.7.25
reportlab                    3.6.12
requests                     2.26.0
requests-oauthlib            1.3.0
responses                    0.18.0
rich                         13.4.1
rouge-score                  0.1.2
rsa                          4.8
sacrebleu                    2.3.1
safetensors                  0.3.1
scikit-fuzzy                 0.4.2
scikit-image                 0.19.3
scikit-learn                 1.1.1
scipy                        1.7.3
seaborn                      0.11.2
Send2Trash                   1.8.0
sentencepiece                0.1.99
setuptools                   56.0.0
Shapely                      1.8.4
six                          1.16.0
sklearn                      0.0
smart-open                   6.3.0
smmap                        5.0.0
sniffio                      1.2.0
spacy                        3.5.2
spacy-legacy                 3.0.12
spacy-loggers                1.0.4
sqlparse                     0.4.3
srsly                        2.4.6
streamlit                    1.22.0
svglib                       1.5.1
tablib                       3.3.0
tabulate                     0.9.0
tenacity                     8.2.2
tensorboard                  2.9.0
tensorboard-data-server      0.6.1
tensorboard-plugin-wit       1.8.0
tensorflow                   2.9.1
tensorflow-datasets          4.6.0
tensorflow-estimator         2.9.0
tensorflow-io-gcs-filesystem 0.26.0
tensorflow-metadata          1.9.0
termcolor                    1.1.0
terminado                    0.12.1
testpath                     0.5.0
text-unidecode               1.3
texttable                    1.6.7
thinc                        8.1.9
threadpoolctl                3.0.0
tifffile                     2022.8.12
tinycss2                     1.2.1
tokenizers                   0.13.3
toml                         0.10.2
toolz                        0.12.0
torch                        1.11.0
torchaudio                   0.11.0
torchvision                  0.12.0
tornado                      6.1
tqdm                         4.63.1
traitlets                    5.1.1
transformers                 4.30.2
typer                        0.7.0
typing_extensions            4.5.0
tzdata                       2022.7
tzlocal                      4.3
uritools                     4.0.1
urllib3                      1.26.7
validators                   0.20.0
visdom                       0.2.4
wasabi                       1.1.1
watchdog                     3.0.0
wcwidth                      0.2.5
webencodings                 0.5.1
websocket-client             1.2.3
Werkzeug                     2.0.2
wheel                        0.37.0
whitenoise                   6.4.0
wordcloud                    1.8.1
wrapt                        1.13.3
xhtml2pdf                    0.2.9
xlrd                         2.0.1
xlwt                         1.3.0
xxhash                       3.2.0
yarl                         1.9.2
zipp                         3.6.0
